/* Code - copy/paste from poole.css*/
body{
    color: #515151;
    font-family: "Raleway", sans-serif;
    background-image: url("../images/kiwi.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -60px bottom;
    background-size: 160px;
    padding-top: 30px;
    padding-bottom: 30px;
}
h1{font-weight: bold; line-height: 1.25; color: #303030;margin-top:0;}
h1 a{text-decoration: none;color:#303030;}
h1 a:hover {text-decoration: underline;color:#303030;}
h1 a:visited {color: #303030;}
h1 a:link{color:#303030;}
p {font-size: 20px;}

code, pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
    padding: .25em .5em;
    font-size: 85%;

    border-radius: 3px;
}
pre {
    color: #45D40C;
    border: 0;
    border-radius: 0;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1.5rem;
    font-size: 1.4rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    /*background-color: #f9f9f9;*/
    background-color: #141414;
}

code a {color: #45D40C !important; text-decoration: underline;}
code a:visited {color: #45D40C !important;}

pre code {
    padding: 0;
    font-size: 100%;
    background-color: transparent;
}

.highlight pre {
    margin-bottom: 0;
}

footer {
    margin-top:40px !important;
}

/*
https://github.com/mattboldt/typed.js/#install-with-bower
*/
.typed-cursor{
    opacity: 1;
    color: #45D40C;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.container-fluid {
    margin: 0 auto 20px auto;
    max-width: 700px;
    padding: 0;
}

@media (max-width: 500px) {
    .nav {display: none;}
}
